@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="PageTitle">Online Book Store</h1>
</div>

<div class="containerIndex">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="BooksOfWeek">Books of the Week</h2>
            @foreach (var item in Model.BooksOfTheWeek)
            {
                <div class="item-capsuleIndex">
                    <div class="item-container">
                        <div class="bookIndex">
                        <h3 class="bookTitleIndex">@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p class="bookAuthorIndex">@Html.DisplayFor(modelItem => item.Author)</p>
                        <p class="bookPriceIndex">@Html.DisplayFor(modelItem => item.Price)</p>
                        @{
                            try
                            {
                                <img class="imageIndex" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image))" />
                            }
                            catch
                            {
                                <h1>No Image Provided</h1>
                            }
                        }
                    </div>
                    <p>
                        <a asp-page="/Menu/Details" asp-route-id="@item.ID">Details</a>
                    </p>
                </div>

                    </div>
                    
            }
        </div>
    </div>
 </div>

